.loader {
    /*transition: 1s all;*/
    background: #212121;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.loader-text {
    margin: 10px;
    color: #b100e8;
    font-size: 20px;
}

@keyframes plasma-2 {
    0% {
        transform: scale(1) translate3d(60px, 0, 0);
    }
    50% {
        transform: scale(2) translate3d(-60px, 0, 0);
    }
    100% {
        transform: scale(1) translate3d(60px, 0, 0);
    }
}
@keyframes plasma-2-rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.plasma-2 {
    backface-visibility: hidden;
    z-index: 20;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 0;
}
.plasma-2 .gooey-container {
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: url(#gooey-plasma-2);
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 20px #9900ff inset;
    animation: plasma-2-rotate .8s linear infinite;
}
.plasma-2 .gooey-container .bubble {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: right;
}
.plasma-2 .gooey-container .bubble:before {
    content: "";
    display: inline-block;
    background: #ff4081;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1) translate3d(75px, 0, 0);
    box-shadow: 0 0 10px 5px #0000ff inset, 0 0 10px 0 #0000ff inset;
}
.plasma-2 .gooey-container .bubble:nth-child(1) {
    transform: translate(-50%, -50%) rotate(60deg);
}
.plasma-2 .gooey-container .bubble:nth-child(1):before {
    animation: plasma-2 0.5s ease 0.5s infinite;
}
.plasma-2 .gooey-container .bubble:nth-child(2) {
    transform: translate(-50%, -50%) rotate(120deg);
}
.plasma-2 .gooey-container .bubble:nth-child(2):before {
    animation: plasma-2 1s ease 0.25s infinite;
}
.plasma-2 .gooey-container .bubble:nth-child(3) {
    transform: translate(-50%, -50%) rotate(180deg);
}
.plasma-2 .gooey-container .bubble:nth-child(3):before {
    animation: plasma-2 2s ease 0.1666666667s infinite;
}
.plasma-2 .gooey-container .bubble:nth-child(4) {
    transform: translate(-50%, -50%) rotate(240deg);
}
.plasma-2 .gooey-container .bubble:nth-child(4):before {
    animation: plasma-2 3s ease 0.125s infinite;
}
.plasma-2 .gooey-container .bubble:nth-child(5) {
    transform: translate(-50%, -50%) rotate(300deg);
}
.plasma-2 .gooey-container .bubble:nth-child(5):before {
    animation: plasma-2 4s ease 0.1s infinite;
}
.plasma-2 .gooey-container .bubble:nth-child(6) {
    transform: translate(-50%, -50%) rotate(360deg);
}
.plasma-2 .gooey-container .bubble:nth-child(6):before {
    animation: plasma-2 5s ease 0.0833333333s infinite;
}