@media only screen and (hover: none) and (pointer: coarse) {
    * { /* Disable animations */
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation:  none !important;
    }
}

@media (max-width: 1000px) {
    .content {
        padding-left: 0;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 108px;
        scroll-margin-top: 60px;
        scroll-margin-left: 0;
        width: calc(100% - 24px);
        top: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    #portfolio {
        height: calc(100% - 108px);
        top: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .navbar {
        height: 60px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        display: inline-flex;
        flex-direction: row;
    }

    .nav-placeholder {
        width: 0;
        height: 0;
    }

    .nav-buttons {
        width: 85%;
        height: 100%;
        text-align: center;
        margin: 0;
        padding: 0 0 0 16px;
    }

    .nav-item, .active-item {
        float: left;
        height: 100%;
        margin-right: 16px;
    }

    .nav-item a, .active-item a {
        height: 100%;
    }

    .nav-item a ion-icon, .active-item a ion-icon {
        padding-top: 30px;
    }

    .nav-item a span, .active-item a span {
        vertical-align: middle;
        padding-top: 5px;
    }

    .links {
        width: 15%;
        height: 100%;
        display: inline-flex;
    }

    .link-item {
        height: 100%;
    }

    .link-item a {
        height: 100%;
        padding: 0 6px;
        line-height: normal;
        display: inline-block;
    }

    .link-item a ion-icon {
        height: 100%;
    }

    .contact, .about, .skills, .group {
        margin-left: 0;
        width: calc(100% - 24px);
    }

    .about .text-zone, .skills .text-zone, .portfolio {
        width: calc(100% - 48px);
    }

    .carousel-slide {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
    }

    .carousel-content {
        width: 100%;
        height: auto;
    }

    .carousel-content h2 {
        margin-left: 0;
        width: 100%;
    }

    .carousel-content p {
        margin-left: 0;
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .image img {
        position: relative;
    }
}